* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 18% 20px;


}

/* Top Portion of Header */

.header-section-one { 
    display: flex;
    align-items: center;
}

.header-nav-bar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header-logo {
    flex: 1;
}

/* Bottom Portion of Header */

.header-section-two { 
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.hero-section { 
    flex-basis: 40%;
}

.main-hero { 
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
}

.sub-text { 
    font-size: 18px;
    color: #F9FAF8;
    flex: 1;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header-logo { 
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav-bar { 
    color: #F9FAF8;
}