* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;


}

body { 
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 8% 90px;
    flex-wrap: wrap;


}

/* Top Portion of Header */

.header-section-one { 
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.header-nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-logo {
    flex: 1;
}

/* Bottom Portion of Header */

.header-section-two { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.hero-section { 
    flex: 1;
    flex-shrink: 0;
}

.main-hero { 
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
    margin-bottom: 0px;
}

.sub-text { 
    font-size: 18px;
    color: lightgray;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.hero-image img {
   height: 400px
}

.header-logo { 
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav-bar { 
    color: #F9FAF8
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    padding: 10px 35px 10px;
    border-radius: 8px;
    margin-top: 0px;
}

/* About Us Section */

.information {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.info-title {
    margin: 35px;
    flex: 1;
    font-size: 36px;
    font-weight: bold;
}

.info-images-captions {
    display: flex;
    gap: 45px;
}

.info-boxes {
    width: 225px;
    height: 225px;
    border-radius: 8px;
}

.info-boxes img {
    max-width:225px;
    height: 225px;
    padding: 0px;
    border-radius: 8px;
    border: #3882F6 solid 4px;
}